body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0; /* removes default margin and makes sure there is no extra space around the page */
  padding: 0; /* removes default padding so content starts at the edges*/
  height: 100%; /* makes sure html and body takes up the full height of the browser window */
  background-color: #161A1D; /* sets the background for our application */
}
